.social {
    height: 15px;
    width: 70px;
    display: flex;
    justify-content: space-between;

    img {
        height: 100%;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }
}