@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-size: calc(10px + 1vmin);
  margin: 0;
  transition: 1s;
}

.app {
  background-color: var(--sub-color);
  color: var(--sub-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: var(--sub-color);
  text-decoration: none;

  &:hover {
    color: var(--sub-color);
    cursor: pointer;
  }
}