.header-text {
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;

    &_17px {
        font-size: 17px;
    }

    &_12px {
        font-size: 12px;
    }

    &:hover {
        margin-top: -3px;
        transition: all .3s;
    }
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;

    &_fs12 {
        font-size: 12px;
        line-height: 21px;
    }

    &_fs14 {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }

    &_fs16 {
        font-size: 16px;
        line-height: 24px;
    }

    &_fs20 {
        font-size: 20px;
    }
}