.contact {
    padding: 0 20px 20px 20px;
    color: $main-color;
    display: grid;
    grid-template: 50px 20px 5px 300px / 50%;
    justify-content: center;
    justify-items: center;

    &__title  {
        grid-row: 1 / 2;
    }
    &__subtitle  {
        grid-row: 2 / 3;
    }

    &__form {
        margin: 50px;
        grid-row: 3 / 4;
    }
}