.contact {
    padding: 0 20px 0px 20px;
    color: $main-color;
    background-color: $sub-color;
    display: grid;
    grid-template: 50px 20px 5px 350px / 50%;
    justify-content: center;
    text-align: center;

    &__title  {
        grid-row: 1 / 2;
    }
    &__subtitle  {
        grid-row: 2 / 3;
    }

    &__form {
        margin-top: 50px;
        grid-row: 3 / 4;
    }
}