.navbar {
    margin-left: 150px;
    display: grid;
    align-items: center;
    grid-template: 25px / repeat(5, auto);
    gap: 30px;

    &__link {
        max-width: 100px;

        &_active {
            color: #e31b6d;
        }
    }
}