.hamburger {
    display: none;
    position: absolute;
    left: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
        display: block;
        height: 2px;
        background: #DCDCDC;
    }

    &__top-bun {
        width: 25px;
    }

    &__long-bun {
        width: 25px;
    }

    &__but-bun {
        width: 25px;
    }
}