.contact-form {
    display: grid;
    grid-template: 30px 30px 100px 35px / 100%;
    gap: 5px;
    justify-items: center;
    justify-content: center;

    &__input {
        grid-column: 1 / 2;
        width: 100%;

        input {
            padding-left: 10px;
            border: none;
            width: 100%;
            height: 100%;
            background-color: var(--main-color);
            color: var(--sub-color);

            &::placeholder {
                color: var(--sub-color);
                opacity: .7;
            }
        }
    }

    &__textarea {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;

        textarea {
            padding-left: 10px;
            border: none;
            width: 100%;
            height: 100%;
            background-color: var(--main-color);
            color: var(--sub-color);

            &::placeholder {
                color: var(--sub-color);
                opacity: .7;
            }
        }
    }

    &__footer {
        grid-row: 4 / 5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__politica {
        width: 100%;
        padding: 0 10px 0 10px;
        display: flex;
        justify-content: space-around;

        p {
            color: var(--main-color);
        }

        a {
            font-size: 10px;
            line-height: 18px;
            color: revert;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}