.footer {
    color: $main-color;
    background-color: #D3D3D3;
    padding: 50px 0 20px 0;
    display: grid;
    justify-items: center;
    

    &__text {
        display: flex;
        align-items: center;
        height: 30px;
        margin-bottom: 10px;

        span {
            font-weight: 700;
            color: #e31b6d;
        }
    }
    &__social {
        height: 30px;
        width: 120px;
    }
}